body {
  border: 1px solid rgb(236, 236, 236);
  width: 365px;
  margin: auto;
  padding: 1rem;
  border-radius: 1rem;
}

img {
  width: 365px;
}

.vitamin-dec {
  color: rgb(107, 107, 107);
  font-size: x-large;
}

.buton-flex {
  display: flex;
  justify-content: center;
}

button {
  padding: 1rem 7rem;
  font-size: x-large;
  border-radius: 2rem;
  background-color: #ffffff;
  border: 2px solid #000000;
  margin-bottom: 1rem;
}
